.banner {
  padding: 20px;
}
.banner__content {
  background: url(/img/section_banner/banner_player.png);
  border-radius: 6px;
  object-fit: contain;
  width: 100%;
  height: 384px;
  background-size: cover;
  background-position: center;
}
.banner__info {
  padding: 15px 20px;
}
.banner__rating {
  display: flex;
  gap: 5px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}
.banner__img {
  width: 24px;
  height: 24px;
}
.banner__paragraph {
  margin-top: 5px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-dark);
  text-transform: uppercase;
}
.banner__headline {
  width: 100%;
  max-width: 538px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 29px;
  color: var(--text-color);
  text-transform: uppercase;
  margin-top: 30px;
}
.banner__sign-up {
  margin-top: 30px;
  width: 214px;
  padding: 12px 32px;
  color: var(--text-color);
  background-color: var(--button-orange);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  border-radius: 16px;
  border: 1px solid white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.banner__sign-up:hover {
  background-color: var(--button-orange-hover);
  transform: scale(1.05);
}
.banner__sign-up:active {
  background-color: var(--button-orange-active);
  transform: scale(0.98);
}
.banner__rule {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6px;
  line-height: 9px;
  color: var(--text-color);
  margin-top: 5px;
}
@media (min-width: 670px) {
  .banner__headline {
    margin-top: 50px;
    font-size: 32px;
    line-height: 36px;
  }
}
@media (min-width: 850px) {
  .banner__headline {
    font-size: 40px;
    line-height: 48x;
  }
  .banner__sign-up {
    margin-top: 60px;
  }
}
@media (min-width: 1250px) {
  .banner {
    padding: 20px 0px;
  }
}
