.casino {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: auto;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin-top: 20px;
}
.casino__header {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
  background-color: var(--casino__header);
  padding: 20px;
  border-radius: 6px;
}
.casino__game-auth {
  position: relative;
  height: 110px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: url("/img/casino/game-auth.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}
.casino__game-auth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a3769cc;
  border-radius: 8px;
  z-index: -1;
}
.casino__auth-message,
.casino__auth-span {
  z-index: 2;
  font-size: 14px;
  line-height: 19px;
  font-family: "Poppins", serif;
  font-weight: 600;
  color: var(--text-color);
}
.casino__auth-login {
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", serif;
  font-weight: 600;
  color: var(--casino__auth-login);
}
.casino__auth-signup {
  z-index: 2;
  display: inline-block;
  padding: 12px;
  border: none;
  width: 79px;
  font-size: 10px;
  line-height: 15px;
  font-family: "Poppins", serif;
  font-weight: 600;
  color: var(--text-color);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  background-color: var(--button-orange);
}
.casino__games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 20px;
}
.casino__game {
  background-color: var(--background-block);
  border-radius: 8px;
  overflow: hidden;
}
.casino__game-image {
  height: 110px;
  object-fit: cover;
  background-position: center;
  border-radius: 6px;
}
@media (min-width: 500px) {
  .casino__game-image {
    width: 100px;
  }
  .casino__game-auth {
    width: 100px;
  }
}
@media (min-width: 650px) {
  .casino__games {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 950px) {
  .casino__game-auth {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .casino__game-image {
    width: 100%;
    height: 100%;
  }
  .casino__auth-signup {
    width: 70px;
  }
  .casino__header {
    text-align: center;
  }
  .casino__games {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1100px) {
  .casino {
    width: 245px;
  }
  .casino__auth-message,
  .casino__auth-span {
    font-size: 14px;
  }
  .casino__game-auth {
    padding: 16px;
  }
  .casino__games {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .casino {
    width: 275px;
  }
  .casino__game-image,
  .casino__game-auth {
    width: 120px;
    height: 130px;
  }
  .casino__auth-signup {
    width: 100%;
    font-size: 12px;
    margin-top: 3px;
  }
}
