.download {
  padding: 20px;
}
.download__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 54px 40px;
  background-image: url(/img/download/background-download.png);
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  height: 370px;
  align-items: center;
}
.download__button {
  cursor: pointer;
  width: 267px;
  background-color: var(--button-orange);
  padding: 12px 32px;
  border: 1px solid white;
  font-size: 15px;
  font-family: "Poppins", serif;
  font-weight: 600;
  color: white;
  border-radius: 16px;
  text-transform: uppercase;
}
.download__button:hover {
  background-color: var(--button-orange-hover);
  transform: scale(1.05);
}
.download__button:active {
  background-color: var(--button-orange-active);
  transform: scale(0.98);
}
.download__logo {
  width: 151px;
  cursor: pointer;
  background-color: var(--logo-color);
  padding: 6px 31px;
}
.download__logo-link {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  color: var(--text-color);
}
.download__apps {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.download__apps img {
  width: 191px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .download__content {
    flex-direction: row;
    height: 170px;
  }
}
