@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-background: #192a32;
  --logo-color: #141e55;
  --global-link-color: #1a3769;
  --text-color: #fcfcfc;
  --button-orange: #ec622b;
  --button-orange-hover: #e07b00;
  --button-orange-active: #c96c00;
  --button-green: #0fa810;
  --button-green-hover: #28a745;
  --button-green-active: #218838;
  --layout-background: #141d54;
  --background-block: #fcfcfc;
  --features__item: #f6f6f6;
  --text-dark: #192a32;
  --casino__auth-login: #2cb154;
  --casino__header: #192a32;
  --reviews-back: #80bef8;
  --testimonial-card: #e2eaf7;
  --green-color: #2e9344;
  --faq__answer: #dfe8f6;
  scroll-behavior: smooth;
}
body {
  background-color: var(--layout-background);
}
img {
  display: block;
  width: 100%;
}
iframe {
  width: 100%;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.main,
.footer {
  width: 100%;
}
.main-bonus,
.main-app {
  width: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.aside {
  padding: 20px;
  /* width: 100%; */
}
.container-footer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
@media (min-width: 950px) {
  .layout {
    flex-direction: row-reverse;
  }
  .aside {
    width: 25%;
  }
  .main {
    width: 75%;
  }
  .footer {
    width: 75%;
  }
}
