.info-about-app__container {
  padding: 20px;
}
.info-about-app__content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  border-radius: 6px;
  padding: 25px 20px;
}
.info-about-app__title {
  width: 100%;
  max-width: 885px;
  flex: 20%;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.info-about-app__button {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 179px;
  height: 48px;
  background-color: var(--global-link-color);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 16px;
  cursor: pointer;
}
.info-about-app__img {
  width: 24px;
  height: 24px;
}
@media (min-width: 1250px) {
  .info-about-app__container {
    padding: 20px 0px;
  }
}
