.live-events {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: auto;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.live-events__header {
  display: flex;
  padding: 4px 16px;
  align-items: center;
  gap: 20px;
  background-color: var(--button-orange);
  color: #fff;
  border-radius: 60px;
  border: none;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.live-events__button-container {
  background-color: var(--header-background);
  padding: 20px 22px;
}
.live-events__icon {
  width: 40px;
  height: 40px;
}
.live-events__icon-filled {
  width: 20px;
  height: 20px;
}
.live-events__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.live-events__item {
  cursor: pointer;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(124, 124, 124, 1);
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px 30px;
}
.live-events__emoji {
  width: 24px;
  height: 24px;
}
.live-events__item--highlighted {
  background-color: rgba(25, 42, 50, 1);
  color: #fff;
}
@media (min-width: 950px) {
  .live-events__header {
    font-size: 14px;
    padding: 4px 14px;
  }
  .live-events__button-container {
    padding: 16px;
  }
}
@media (min-width: 1100px) {
  .live-events {
    width: 245px;
  }
  .live-events__header {
    width: 221px;
  }
}
@media (min-width: 1200px) {
  .live-events {
    width: 275px;
  }
  .live-events__header {
    width: 251px;
  }
}
