.quick-facts {
  padding: 20px;
}
.quick-facts__content {
  padding: 32px 20px;
  background-color: var(--background-block);
  border-radius: 6px;
}
.quick-facts__title {
  margin-bottom: 18px;
  width: 100%;
  max-width: 269px;
  color: var(--text-dark);
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(197, 197, 197, 1);
}
.quick-facts__item {
  padding: 8px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.quick-facts__item img {
  width: 20px;
  height: 20px;
}
.quick-facts__name {
  width: 100%;
  max-width: 167px;
  color: var(--text-dark);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  margin-right: 10px;
}
.quick-facts__info {
  width: 100%;
  max-width: 587px;
  color: var(--text-dark);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 850px) {
  .quick-facts__title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1100px) {
  .quick-facts__name {
    margin-right: 32px;
  }
}
@media (min-width: 1250px) {
  .quick-facts {
    padding: 20px 0px;
  }
}
