<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header class="header">
      <div>
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.header-nav.partial.html"
        ></nav>
      </div>
    </header>
    <div class="layout">
      <aside class="aside">
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.live-events.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.casino.partial.html"
        ></section>
      </aside>
      <main class="main">
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.info-about-app.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.banner.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.features.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.get-bonus.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.bonus-info.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.reviews.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.quick-facts.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.sports-betting-guide.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.testimonials.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.customer-support.partial.html"
        ></section>
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="global.faq.partial.html"
        ></section>
      </main>
    </div>
    <footer class="container">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer.partial.html"
      ></div>
    </footer>
    <script src="js/index.js"></script>
  </body>
</html>
